[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
spacy = "*"
scikit-learn = "*"
nltk = "*"
altair = "*"
vega = "*"
progress = "*"
jupyter = "*"
ipykernel = "*"
vega-datasets = "*"
scipy = "*"
regex = {path = "./textplot"}
shorttext = "*"

[requires]
python_version = "3.7"
